@model IEnumerable<Orders_Engine_module_2.Models.Product>

@{
    ViewBag.Title = "Homepage";
    <h2>@ViewBag.message</h2>
}
<div class="container">
    <div class="row">
        @if (@ViewBag.message== null)
        {
            foreach (var item in Model)
            {
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        @if (item.ProductCategoryID==3)
                        {
                            <div class="col-sm-4" style="max-width:12%;max-height:12%">
                                    <img src="@Url.Content("~/Content/Images/Discount.png")" align="top" height=12 width=12 />
                            </div>
                         }
                                    <div class="panel-heading">@Html.ActionLink(item.ProductName, "DisplayProductDetails", new { id = item.ProductID }, new { style = "color:black" })</div>
                                    <div class="panel-body"><img src="@Url.Action("RenderImage", new { id = item.ProductID })" align="middle" height=80 width=80 /></div>
                                    <div class="panel-footer">Price=@Html.DisplayFor(model => item.ProductPrice)</div>
                                </div>
                            </div>
                        }
                        }


                    </div>
</div>
