@model Orders_Engine_module_2.Models.ViewModel

@{
    ViewBag.Title = "ViewDiscount";
}

@{
    Html.RenderPartial("DiscountOptions", "Discount");
}

<h2>ViewDiscount</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("DiscountName")
        </th>
        <th>
            @Html.DisplayName("DiscountTypeName")
        </th>
        <th>
            @Html.DisplayName("DiscountPercent")
        </th>
        <th>
            @Html.DisplayName("CreatedDate")
        </th>
        <th></th>
    </tr>

@foreach (var discount in Model.Discount) {

    var DiscountTypename = new Orders_Engine_module_2.Models.DiscountEntities().DiscountTypes.Where(x => x.DiscountTypeID == discount.DiscountTypeID).Select(x => x.DiscountTypeName).First();
    <tr>
        <td>
            @Html.DisplayFor(modelItem => discount.DiscountName)
        </td>
        <td>
            @Html.Raw(DiscountTypename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => discount.DiscountPercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => discount.CreatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditDiscount", new { id= discount.DiscountID }) |
            @Html.ActionLink("Delete", "DeleteDiscount", new { id= discount.DiscountID })
        </td>
    </tr>
}

</table>



@{
    ViewBag.Title = "ViewDiscountType";
}

<h2>ViewDiscountType</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("DiscountTypeName")
        </th>
        <th>
            @Html.DisplayName("CreatedDate")
        </th>
        <th></th>
    </tr>

    @foreach (var discountType in Model.DiscountType)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => discountType.DiscountTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => discountType.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => discountType.CreatedBy)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "EditDiscountProductsMap", new { id = discountType.DiscountTypeID }) |*@
                @Html.ActionLink("Delete", "DeleteDiscountType", new { id = discountType.DiscountTypeID })
            </td>
        </tr>
    }

</table>


@{
    ViewBag.Title = "ViewDiscountProductMap";
}

<h2>ViewDiscountProductMap</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ProductID")
        </th>
        <th>
            @Html.DisplayName("ProductName")
        </th>
        <th>
            @Html.DisplayName("DiscountID")
        </th>
        <th>
            @Html.DisplayName("DiscountName")
        </th>
        <th>
            @Html.DisplayName("CreatedDate")
        </th>
        <th>
            @Html.DisplayName("DiscountName")
        </th>
        <th></th>
    </tr>

    @foreach (var dpm in Model.DiscountProductMap)
    {

        var prodname = Html.Action("ConvertProductIdToName", new { id = dpm.ProductID });
        var discountname = Html.Action("ConvertDiscountIdToName", new { id = dpm.DiscountID });

        <tr>
            <td>
                @Html.DisplayFor(modelItem => dpm.ProductID)
            </td>
            <td>
                @Html.Raw(prodname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dpm.DiscountID)
            </td>
            <td>
                @Html.Raw(discountname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dpm.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dpm.CreatedBy)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => dpm.Discount.DiscountName)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "EditDiscountProductsMap", new { id = dpm.MapID }) |
                @Html.ActionLink("Delete", "DeleteDiscountProductsMap", new { id = dpm.MapID })
            </td>
        </tr>
    }

</table>
