@model Orders_Engine_module_2.Models.Customer

@{
    ViewBag.Title = "Delete";
}

@if (TempData["Error"] != null)
{
    <p class="alert alert-success" id="ErrorMessage">@TempData["Error"]</p>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerStatusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerStatusID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainAddress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainAddress1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainAddress3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainAddress3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailAddress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailAddress1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailAddress3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailAddress3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanLogin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanLogin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoginName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrencyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LanguageID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxCodeTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxCodeTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSalesTaxExempt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSalesTaxExempt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesTaxCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesTaxCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEmailSubscribed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEmailSubscribed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

    </dl>
</div>
<p>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</p>
