@model IEnumerable<Orders_Engine_module_2.Models.Customer>

@{
    ViewBag.Title = "Index";
}

@if (TempData["Error"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Error"]</p>
}
<p>
    @Html.ActionLink("Insert New Record", "Insert")
</p>
<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerStatusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainAddress1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainAddress2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainAddress3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainZip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailAddress1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailAddress2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailAddress3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailZip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanLogin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoginName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrencyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LanguageID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxCodeTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSalesTaxExempt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesTaxCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEmailSubscribed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerStatusID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainAddress1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainAddress2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainAddress3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainZip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailAddress1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailAddress2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailAddress3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailZip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanLogin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoginName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrencyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LanguageID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxCodeTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSalesTaxExempt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesTaxCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEmailSubscribed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
    </tr>
}

</table>
